.container {
    display: grid;
    flex: 1;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    aspect-ratio: 4 / 3;
    border: 1px solid var(--color-stroke);
    cursor: pointer;
    align-items: stretch;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 12px;
}

.cardImageContainer {
    flex: 1;
    position: relative;

    img {
        object-fit: cover;
    }
}

.cardDetails {
    align-items: center;
    display: flex;
    gap: 12px;

    .cardInfo {
        line-height: 14px;

        .cardTitle {
            font-weight: 700;
        }

        .cardAuthor {
            color: var(--color-main);
            font-size: 10px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}


