.quickBarWrapper {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.quickBarContainer {
    border: 0.1px solid var(--color-main);
}

.quickBarButton {
    background-color: var(--color-background);
    color: var(--color-main);
    cursor: pointer;
    padding: 12px;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--color-background-hover);
    }
}

// Menu

.quickBarMenuBackdrop {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    inset: 0;
    position: fixed;
    padding-right: 63px;
    z-index: 2;
    animation: backdrop-entry 0.2s ease-out forwards;
}

@keyframes backdrop-entry {
    0% {
        background: var(--color-backdrop-none);
        backdrop-filter: blur(0px);
    }

    100% {
        background: var(--color-backdrop-soft);
        backdrop-filter: blur(1px);
    }
}

.quickBarMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--color-surface);
    border: 0.1px solid var(--color-main);
    padding: 12px;
    animation: quick-bar-menu-entry 0.2s ease-out forwards;
}

.quickBarMenuArrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid var(--color-main);
    animation: quick-bar-menu-entry 0.4s ease-out forwards;
}

@keyframes quick-bar-menu-entry {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}