.textNode {
    display: flex;
    flex-direction: column;
    min-height: 30px;
    height: 100%;
    width: 100%;

    .textNodeTextarea {
        background: none;
        border: none;
        color: var(--color-main);
        flex: 1 0 auto;
        font-size: 16px;
        line-height: 30px;
        height: 38px;
        outline: none;
        overflow: hidden;
        padding: 4px;
        resize: none;
        vertical-align: middle;
        word-wrap: break-word;

        &::placeholder {
            color: var(--color-main);
            opacity: 0.6;
        }
    }

    &:hover .textNodeTextarea::placeholder {
        opacity: 0.8;
    }
}
