:root {
  --color-background: #fffffe;
  --color-headline: #272343;
  --color-paragraph: #2d334a;
  --color-button: #ffd803;
  --color-button-text: #272343;

  --color-stroke: #272343;
  --color-main: #fffffe;
  --color-highlight: #ffd803;
  --color-secondary: #e3f6f5;
  --color-tertiary: #bae8e8;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
}
