:root {
  --app-header-height: 58px;

  --color-backdrop-none: #00000000;
  --color-backdrop-soft: #00000022;

  --color-background: #232946;
  --color-background-hover: #414B81;

  --color-surface: #414B81;

  --color-headline: #fffffe;
  --color-paragraph: #b8c1ec;
  --color-button: #eebbc3;
  --color-button-hover: #E8A1AC;
  --color-button-text: #192331;

  --color-stroke: #121629;
  --color-main: #b8c1ec;
  --color-main-hold: #79809F;

  --color-highlight: #eebbc3;
  --color-secondary: #fffffe;
  --color-tertiary: #eebbc3;
  --color-warning: #eeebbb;
  --color-danger: #e69a99;

  --color-pallete-yellow: #eeebbb;
  --color-pallete-orange: #dc9b6f;
  --color-pallete-red: #e69a99;
  --color-pallete-green: #c5eebb;
  --color-palette-blue: #bbd1ee;
  --color-palette-purple: #414B81;
  --color-pallete-pink: #eebbc3;
}

@media (prefers-color-scheme: dark) {
  :root {
    // --color-background: ;
    // --color-headline: ;
    // --color-paragraph: ;
    // --color-button: ;
    // --color-button-text: ;
  
    // --color-stroke: ;
    // --color-main: ;
    // --color-highlight: ;
    // --color-secondary: ;
    // --color-tertiary: ;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  overflow-y: auto;
  width: 100vw;
  color: var(--color-stroke);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000020;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0000003f;
}