.globalDisplayFilter {
    background: rgb(182, 34, 58, 0.1);
    background-image: url('../assets/filters/noise-1.png');
    inset: 0 0 0 0;
    position: absolute;
    pointer-events: none;
    opacity: 0.04;
}

.appHeader {
    border-top: var(--color-stroke) 0.1px solid;
    border-bottom: var(--color-stroke) 0.1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 12px 0;
    padding: 12px 0px;
    overflow: hidden;

    > strong {
        color: var(--color-stroke);
        display: table-cell;
        font-size: 72px;
        line-height: 28px;
        margin-bottom: -2px;
        margin-top: 6px;
        vertical-align: middle;
    }
}

.appMain {
    background-color: var(--color-background);
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.appHeader_linkContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.appHeader_link {
    font-size: 14px;
    text-transform: uppercase;
}