$header-height: var(--app-header-height);

.main {
    align-items: stretch;
    color: var(--color-main);
    backdrop-filter: blur(100px);
    border-color: var(--color-main);
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    margin-top: calc($header-height * -1 - 24px);
    overflow: auto;
    padding: calc($header-height + 24px) 24px 24px 24px;
    z-index: 1;
}

.cardRowwwEmphasis {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 64px 0 64px;

    .emphasisTitle {
        font-size: 32px;
        font-weight: 700;
    }

    .card {
        min-height: 96px !important;
        height: min-content;
    }
}

.cardRowwwHeadline {
    color: var(--color-main);
    border-bottom: 1px solid --color-main;
    border-top: 1px solid --color-main;
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    padding: 24px;
    margin: 0px -24px;
    text-transform: uppercase;

    &::first-letter {
        font-size: 24px;
    }
}

.cardRowww {
    display: grid;
    font-size: 14px;
    font-weight: 600;
    grid-template-columns: repeat(auto-fit, clamp(180px, 25%, 300px));
    gap: 48px 1rem;
    margin-top: 24px;

    @media (max-width: 615px) {
        display: flex;
        flex-wrap: wrap;
    }

    .cardContainer {
        color: var(--color-main);
        cursor: pointer;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 12px;
        min-width: 150px;
        text-decoration: none;
    }

    .card {
        align-items: start;
        border: 1px solid var(--color-stroke);
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        min-height: 180px;
        max-height: 180px;
        padding: 12px;

        .cardBottomText {
            align-self: flex-end;
        }
    }
}