.sidebar {
    border: 1px solid var(--color-main);
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: min(200px, calc(100vw - 32px));
    padding: 8px 0;
    position: -webkit-sticky;
    position: sticky;

    .groupTitle {
        font-size: 12px;
        padding: 0 12px;
        user-select: none;
    }

    .tagList {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .tagItem {
            color: var(--color-button);
            cursor: pointer;
            font-size: 0.75rem !important;
            display: block;
            font-weight: 500;
            padding: 4px 12px 4px 20px;

            &:hover {
                background-color: var(--color-background-hover);
            }
        }
    }
}