$header-height: var(--app-header-height);

.pageContainer {
    align-items: flex-start;
    color: var(--color-main);
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 24px;
    overflow: hidden;
    padding: 24px;

    .results {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 12px;
        overflow: hidden;
    }
}
